
.par{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    color:  rgb(177, 59, 12); 
    height: 290px;

}
.par img{
    width: 100%;
    height: 250px;
}
.par p:hover{
    color: yellow;
}

.par a{
    color:  rgb(177, 59, 12); 

}